## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,City Latitude,City Longitude,Maximum Temperature,Percent Humidity,Percent Cloudiness,Wind Speed,Weather Description
0,0,Kūhdasht,IR,33.5350,47.6061,35.29,83,88,1.66,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,51.80,62,0,26.46,clear sky
2,2,Broome,US,42.2506,-75.8330,15.01,73,1,9.22,clear sky
3,3,City of San Pedro,PH,14.3500,121.0167,81.00,69,40,5.75,scattered clouds
4,4,Saint Paul Harbor,US,57.7900,-152.4072,33.80,55,1,23.02,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is min temp"))
max_temp = float(input("What is max temp"))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferered_city_df = city_data_df.loc[(city_data_df["Maximum Temperature"] <= max_temp) & (city_data_df["Maximum Temperature"] >= min_temp)]
preferered_city_df.head(10)

,City_ID,City,Country,City Latitude,City Longitude,Maximum Temperature,Percent Humidity,Percent Cloudiness,Wind Speed,Weather Description
1,1,Punta Arenas,CL,-53.1500,-70.9167,51.80,62,0,26.46,clear sky
5,5,Busselton,AU,-33.6500,115.3333,79.00,53,0,8.48,clear sky
6,6,Mataura,NZ,-46.1927,168.8643,72.55,36,98,3.22,overcast clouds
7,7,Bandarbeyla,SO,9.4942,50.8122,73.80,72,100,15.79,overcast clouds
8,8,Castro,BR,-24.7911,-50.0119,65.68,97,100,5.99,overcast clouds
12,12,Lüderitz,NaN,-26.6481,15.1594,65.39,63,0,18.03,clear sky
13,13,Talara,PE,-4.5772,-81.2719,75.81,77,62,13.96,broken clouds
15,15,Tsogni,GA,-2.7942,10.0988,76.48,90,100,0.18,light rain
16,16,Tsogni,GA,-2.7942,10.0988,76.48,90,100,0.18,light rain
17,17,Pinheiro Machado,BR,-31.5783,-53.3811,69.10,100,100,7.43,light rain

In [13]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                784
City                   784
Country                778
City Latitude          784
City Longitude         784
Maximum Temperature    784
Percent Humidity       784
Percent Cloudiness     784
Wind Speed             784
Weather Description    784
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.dropna()

,City_ID,City,Country,City Latitude,City Longitude,Maximum Temperature,Percent Humidity,Percent Cloudiness,Wind Speed,Weather Description
0,0,Kūhdasht,IR,33.5350,47.6061,35.29,83,88,1.66,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,51.80,62,0,26.46,clear sky
2,2,Broome,US,42.2506,-75.8330,15.01,73,1,9.22,clear sky
3,3,City of San Pedro,PH,14.3500,121.0167,81.00,69,40,5.75,scattered clouds
4,4,Saint Paul Harbor,US,57.7900,-152.4072,33.80,55,1,23.02,clear sky
...,...,...,...,...,...,...,...,...,...,...
779,779,Mogadishu,SO,2.0371,45.3438,74.70,84,16,16.69,few clouds
780,780,Emporia,US,38.4039,-96.1817,41.00,93,90,16.11,mist
781,781,Emporia,US,38.4039,-96.1817,41.00,93,90,16.11,mist
782,782,Emporia,US,38.4039,-96.1817,41.00,93,90,16.11,mist
783,783,Terenos,BR,-20.4422,-54.8603,73.40,88,20,6.91,few clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Maximum Temperature", "Weather Description", "City Latitude", "City Longitude"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Maximum Temperature,Weather Description,City Latitude,City Longitude,Hotel Name
0,Kūhdasht,IR,35.29,overcast clouds,33.5350,47.6061,
1,Punta Arenas,CL,51.80,clear sky,-53.1500,-70.9167,
2,Broome,US,15.01,clear sky,42.2506,-75.8330,
3,City of San Pedro,PH,81.00,scattered clouds,14.3500,121.0167,
4,Saint Paul Harbor,US,33.80,clear sky,57.7900,-152.4072,
5,Busselton,AU,79.00,clear sky,-33.6500,115.3333,
6,Mataura,NZ,72.55,overcast clouds,-46.1927,168.8643,
7,Bandarbeyla,SO,73.80,overcast clouds,9.4942,50.8122,
8,Castro,BR,65.68,overcast clouds,-24.7911,-50.0119,
9,Yangi Marg`ilon,UZ,33.80,overcast clouds,40.4272,71.7189,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["City Latitude"]
    lng = row["City Longitude"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [18]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan , inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
hotel_df

,City,Country,Maximum Temperature,Weather Description,City Latitude,City Longitude,Hotel Name
0,Kūhdasht,IR,35.29,overcast clouds,33.5350,47.6061,فروشگاه زنبیل
1,Punta Arenas,CL,51.80,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
2,Broome,US,15.01,clear sky,42.2506,-75.8330,Chenango Valley State Park
3,City of San Pedro,PH,81.00,scattered clouds,14.3500,121.0167,OYO 412 Viewfort Venue
4,Saint Paul Harbor,US,33.80,clear sky,57.7900,-152.4072,Best Western Kodiak Inn and Convention Center
...,...,...,...,...,...,...,...
779,Mogadishu,SO,74.70,few clouds,2.0371,45.3438,Hotel Juba
780,Emporia,US,41.00,mist,38.4039,-96.1817,Candlewood Suites Emporia
781,Emporia,US,41.00,mist,38.4039,-96.1817,Candlewood Suites Emporia
782,Emporia,US,41.00,mist,38.4039,-96.1817,Candlewood Suites Emporia
783,Terenos,BR,73.40,few clouds,-20.4422,-54.8603,QUINTAS IN CASA

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Maximum Temperature} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["City Latitude", "City Longitude"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))